
.hand{
    width: 250px;
    height: 250px;
    display: inline-block;
    /* margin: 70px 70px; */
}

.dealer {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    display: block;
}
.dealer-hand{
    background-color: gray;
}
.dealer .hand{
    display: inline-block;
    font-size: 200px;
}
#navi{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#set-btn{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    height: 100px;
}
#set-btn button{
    display: inline-block;
}

#player{
    margin: 0 auto;
    text-align: center;
}
#player button{
    margin: 0 20px;
    display: inline-block;
}

.none{
    display: none;
}